<!DOCTYPE html>
<html>
<head>
<title><%= @title_browser.present? ? "#{@title_browser} - NatArt" : " NatArt" %></title>
  <link rel="stylesheet" type="text/css" href="/assets/application.css"> 
</head>
<body>

<%= yield %>

</body>
</html>
