h1 {
	color: blue;
	text-align: center;
	font-family: Helvetica;
	border-radius: 5px;
	border: 1px solid #333;
}
img {
	height: 150px;
	width: 500px;
	border-radius: 50px;
	position: relative;
	display:block;
	margin:0 auto 0 auto;
}