<div class="container">
	<div class="fold">
		<header>
			<div class="menu">
				<ul>
					<li><a href="/users/users">Ingresa</a></li>
					<li><a href="/users/new">Registrate</a></li>
				</ul>
			</div>
		</header>
		<section>
			<article>
				<h1>Un lugar para aprender en familia</h1>
				<p>Bienvenidos a la red de homeschoolers más grande del mundo</p>		
			</article>
			<article class="button_container">
				<a href="/users/new" class="button">Registrarse</a>
			</article>
		</section>

		<div class="bg_effect"></div>
	</div>
}</div>